body {
    margin: 0;
}

h2{
    font-size: 3em;
    margin-top: 0px;
    padding: .8em;
}

.right{
    float: right;
}

.left{
    float: left;
}

#HeaderDiv{
    background-color: pink;
    width: 100%;
}

#PolicyCards{
    background-color: blue;
}

#Footer{
    background-color: chocolate;
}

#Timer{
    float: right;
}
